4.1 Найдите ноутбуки с самой маленькой диагональю в данных?
Выведите только следующие характеристики:
Компания
Типа ноутбука
Диагональ
Стоимость
Если таких ноутбуков несколько, то выводите их всех

In [42]:
import pandas as pd
import numpy as np
import numpy.ma as ma


df = pd.read_csv('laptop_price.csv', encoding= 'latin-1', sep=',')

In [43]:
df[['Company', 'TypeName','Inches', 'Price_euros']].sort_values('Inches').head(4)

     Company            TypeName  Inches  Price_euros
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
50    Lenovo  2 in 1 Convertible    10.1       319.00

второй способ

In [44]:
df[['Company', 'TypeName','Inches', 'Price_euros']][df['Inches'] == df['Inches'].min()]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00


 4.2 Сколько стоит самый дорогой ноутбук у компании HP?

In [45]:
df2 = df[['Company', 'TypeName', 'Inches', 'Price_euros']][df['Company'] == 'HP'] 
df2
df2[df2['Price_euros'] == df2['Price_euros'].max()]

    Company     TypeName  Inches  Price_euros
749      HP  Workstation    17.3       4389.0

4.3 Как много ноутбуков Ultrabook с 8GB RAM,Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков

In [55]:
df_ultras = df[df['TypeName'] == 'Ultrabook']

df_ultras_8 = df_ultras[df_ultras['Ram'] == '8GB']
df_ultras_8.shape[0]

140

In [53]:
df_ultras.shape[0]

196

In [54]:
df_ultras_8.shape[0]/df_ultras.shape[0]

0.7142857142857143